/* line 4, ../scss/style.scss */
* {
  box-sizing: border-box;
}

/* line 7, ../scss/style.scss */
button:hover {
  cursor: pointer;
}

/* line 11, ../scss/style.scss */
ul, li, a, h1 {
  margin: 0;
}

/* line 48, ../scss/style.scss */
html body {
  background: #FFC04C;
  margin: 0 8%;
}
/* line 51, ../scss/style.scss */
html body header {
  background: #FFC04C;
}
/* line 13, ../scss/style.scss */
html body header nav {
  position: relative;
  text-align: left;
  float: none;
}
/* line 17, ../scss/style.scss */
html body header nav ul {
  height: 6vh;
}
/* line 19, ../scss/style.scss */
html body header nav ul li {
  box-shadow: 2px 0 2px -2px #444, -2px 0 2px -2px #444;
  display: inline-block;
  padding: 20px;
  transition: all 0.4s ease-in-out;
}
/* line 24, ../scss/style.scss */
html body header nav ul li a {
  padding: 20px;
  font-weight: bolder;
  color: black;
  text-decoration: none;
  text-shadow: 2px 2px 0px orange;
  cursor: pointer;
}
/* line 32, ../scss/style.scss */
html body header nav ul li:hover {
  background: orange;
  box-shadow: 2px 0 2px -2px #444, -2px 0 2px -2px #444;
}
/* line 35, ../scss/style.scss */
html body header nav ul li:hover a {
  color: white;
  text-shadow: 2px 2px 2px #444;
  text-decoration: none;
}
/* line 55, ../scss/style.scss */
html body .clear {
  clear: both;
}
/* line 58, ../scss/style.scss */
html body section {
  background: orange;
  width: 100%;
  min-height: 86vh;
  padding: 5%;
  box-shadow: -2px 2px 10px;
}
/* line 65, ../scss/style.scss */
html body section h1 {
  text-align: center;
  color: white;
  text-shadow: 2px 2px 2px #444;
  font-variant: small-caps;
}
/* line 72, ../scss/style.scss */
html body section.onglet2 table {
  width: 100%;
}
/* line 74, ../scss/style.scss */
html body section.onglet2 table thead {
  border: solid 1px #444;
  border-radius: 4px;
  font-weight: bolder;
  text-align: center;
}
/* line 81, ../scss/style.scss */
html body section.onglet2 table tr {
  height: 5%;
  margin: 2% 0;
}
/* line 85, ../scss/style.scss */
html body section.onglet2 table td:nth-child(odd) {
  background: #FFC04C;
}
/* line 91, ../scss/style.scss */
html body footer {
  background: #FFC04C;
  width: 100%;
}
/* line 13, ../scss/style.scss */
html body footer nav {
  position: relative;
  text-align: left;
  float: right;
}
/* line 17, ../scss/style.scss */
html body footer nav ul {
  height: 6vh;
}
/* line 19, ../scss/style.scss */
html body footer nav ul li {
  box-shadow: 2px 0 2px -2px #444, -2px 0 2px -2px #444;
  display: inline-block;
  padding: 20px;
  transition: all 0.4s ease-in-out;
}
/* line 24, ../scss/style.scss */
html body footer nav ul li a {
  padding: 20px;
  font-weight: bolder;
  color: black;
  text-decoration: none;
  text-shadow: 2px 2px 0px orange;
  cursor: pointer;
}
/* line 32, ../scss/style.scss */
html body footer nav ul li:hover {
  background: orange;
  box-shadow: 2px 0 2px -2px #444, -2px 0 2px -2px #444;
}
/* line 35, ../scss/style.scss */
html body footer nav ul li:hover a {
  color: white;
  text-shadow: 2px 2px 2px #444;
  text-decoration: none;
}

/* line 99, ../scss/style.scss */
.active {
  position: relative;
  z-index: 11;
  background: orange;
  box-shadow: 2px 0 2px -2px #444, -2px 0 2px -2px #444;
}
/* line 104, ../scss/style.scss */
.active a {
  color: white;
  text-shadow: 2px 2px 2px #444;
}

/* line 109, ../scss/style.scss */
.textLoaded {
  opacity: 0;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  position: relative;
  z-index: 10;
}

/* line 120, ../scss/style.scss */
.loaded {
  opacity: 1;
}
